@import "pygments/default.css";
body {
  font: 1em Georgia, "Times New Roman", Times, serif;
  margin: 0;
  border: 0 none;
  outline: 0 none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.font-common, .widget h4, h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

.area-common, #sidebar, #post, #header {
  padding: 1.75em 1em 1.75em 1em;
}

.underline-box, .widget h4, #post .post-title {
  border-bottom: 1px solid;
  border-bottom-color: #e9e9e9;
}

html,
body {
  height: 100%;
}

.fill-fullpage-wrapper {
  min-height: 100%;
  /* the bottom margin is the negative value of the footer's height */
  margin: 0 auto-15em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  text-transform: none;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #000000;
}

#header {
  padding-bottom: 0;
}

.site-title {
  color: #000000;
}
.site-title a {
  text-decoration: none;
}
.site-title h1 {
  font-size: 2.6em;
  line-height: 1em;
  margin: 0.3em 0 0.15em;
}
.site-title h3 {
  font-size: 1em;
  line-height: 1em;
  margin: 0.3em 0 0.15em;
}

.site-description {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;
  font-size: 0.9em;
  color: #e9e9e9;
}
#navigation {
  padding: 0 15px 0 25px;
}

.nav-box-common, .nav-mainmenu form, .nav-mainmenu a:hover, .nav-mainmenu a {
  padding: 10px 15px 10px 15px;
}

.nav-mainmenu {
  font-size: 14px;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;
  margin-bottom: 0;
  padding: 10px 0 10px 0;
  float: left;
}
.nav-mainmenu li {
  list-style-type: none;
  display: block;
  float: left;
}
.nav-mainmenu a {
  color: #afafaf;
  text-transform: uppercase;
}
.nav-mainmenu a:hover {
  color: #000000;
  background: #e9e9e9;
  text-decoration: none;
}
.nav-mainmenu form input[type=text],
.nav-mainmenu form input[type=password],
.nav-mainmenu form textarea,
.nav-mainmenu form #dsq-content textarea {
  font-family: "Courier New", Courier, Verdana, sans-serif;
}

#post {
  margin-bottom: 0;
  padding-bottom: 0;
}
#post .post-box, #post .post-box-excerpt {
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
}
#post .post-box-excerpt {
  margin-bottom: 1em;
  padding-bottom: 1em;
}
#post .post-title h2,
#post .post-title h3 {
  margin-bottom: 2px;
}
#post .post-title a {
  color: #000000;
}
#post .post-metabar {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;
  font-size: 0.8em;
  color: #e9e9e9;
  letter-spacing: 0.15em;
}
#post .post-metabar em {
  font-style: normal;
}
#post .post-metabar .stress {
  color: #afafaf;
  text-transform: uppercase;
}
#post .post-metabar a {
  color: #afafaf;
}
#post .post-excerpt,
#post .post-content {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.6em;
}
#post .continue-reading-link {
  margin-top: 1em;
}

#paginate-desc {
  margin-bottom: 1.5em;
  padding: 0.5em;
  background-color: #e9e9e9;
  border-left: 4px solid;
  border-left-color: #afafaf;
}

#paginate {
  margin-top: 0;
  margin-bottom: 1em;
  padding-top: 0;
  padding-bottom: 1em;
}
#paginate .prev-entries {
  float: left;
}
#paginate .next-entries {
  float: right;
}

.widget {
  margin-bottom: 1em;
}
.widget h4 {
  padding-bottom: 0.5em;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;
  font-size: 0.9em;
  color: #afafaf;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: left;
}
.widget ul {
  list-style-type: none;
  padding: 2.1px 2px 2.1px 10px;
}
.widget li {
  margin-top: 10px;
  margin-bottom: 10px;
}

#one-word {
  margin: 0;
  padding: 0.5em;
  color: #afafaf;
  background-color: #efefef;
  text-align: center;
  line-height: 1.8em;
}

#footer {
  padding-top: 1em;
  font-size: 1em;
  text-align: left;
  color: #afafaf;
  background-color: #000000;
  height: 15em;
}
#footer h4 {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;
  font-size: 0.9em;
  text-transform: uppercase;
}
#footer a {
  color: #ffffff;
  font-size: 0.9em;
  line-height: 1.8em;
}
#footer ul {
  padding: 0 5px;
}
#footer ul li {
  list-style-type: none;
}
#footer .terms {
  font-size: 0.6em;
}

#error_handler {
  margin-bottom: 2em;
  padding: 10em;
  text-align: center;
  align-self: center;
}
#error_handler h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 7em;
  color: #000000;
}
#error_handler p {
  margin: 1em;
  color: #afafaf;
}

.highlight {
  padding: 1em 0.5em 1px 0.5em;
}

/*# sourceMappingURL=style.css.map */
