{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}

{% block head %}
{{ super() }}

{% import 'translations.html' as translations with context %}
{% if translations.entry_hreflang(article) %}
{{ translations.entry_hreflang(article) }}
{% endif %}

{% if article.description %}
<meta name="description" content="{{article.description}}"/>
{% endif %}

{% for tag in article.tags %}
<meta name="tags" content="{{tag}}"/>
{% endfor %}

{% endblock %}

{% block carousel %}{% include '_carousel_post.html' %}{% endblock %}

{% block content %}
<div id="post">
  <!--  <header>-->
  <!--    <h2 class="entry-title">-->
  <!--      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"-->
  <!--         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>-->
  <!-- {% import 'translations.html' as translations with context %}-->
  <!-- {{ translations.translations_for(article) }}-->
  <!--  </header>-->
  <div class="post-summary-box">
    <div class="post-summary-content">
      <div class="post-title-box">
        <div class="post-title">
          <h2>{{ article.title }}</h2>
        </div>
        {% include '_post_meta.html' %}
        <div class="post-content">
          {{ article.content }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
