<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}">

<head>
  {% block head %}
  <title>
    {% block title %}
    {{ SITENAME }}
    {% endblock %}
  </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <!-- link rel="shortcut icon" href="static/rpress-icon.png" -->
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <!-- Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
  <!-- rPress -->
  <link rel="stylesheet" type="text/css" href="/theme/css/style.css" />
  <!-- RSS/Atom -->
  {% if FEED_ATOM %}
  <link href="/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
  {% endif %}
  {% if CATEGORY_FEED_ATOM and categories %}
  {% for category, _ in categories %}
  <link href="/{{ CATEGORY_FEED_ATOM.format(slug = category.slug) }}" type="application/atom+xml" rel="alternate"
    title="{{ SITENAME }} Atom Feed for Category: {{ category.name }}" />
  {% endfor %}
  {% endif %}
  {% endblock %}
</head>

<body>
  <div class="fill-fullpage-wrapper">
    <div id="header" class="container padding0">
      {% include '_header.html' %}
    </div>
    <div id="navigation" class="container padding0">
      {% include '_navigation.html' %}
    </div>
    <div id="carousel" class="container padding0">
      {% block carousel %}{% include '_carousel.html' %}{% endblock %}
    </div>
    <div id="content" class="container padding0">
      {% block content %}{% endblock %}
    </div>
  </div>

  {% include '_footer.html' %}
  {% include 'analytics.html' %}
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>