{% extends "base.html" %}
{% block head %}{{ super() }}{% include '_feeds_index.html' %}{% endblock %}
{% block carousel %}{% include '_carousel_index.html' %}{% endblock %}
{% block content %}
<div id="post">
  {% for article in articles_page.object_list %}
  <div class="post-box-excerpt">
    <div class="post-title">
      <h3>
        <a rel="bookmark" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
      </h3>
    </div>
    {% include '_post_meta.html' %}
    {% include '_post_excerpt.html' %}
  </div>
  {% endfor %}
</div>

{% if articles_page.has_other_pages() %}{% include '_pagination.html' %}{% endif %}
{% endblock content %}