{% extends "base.html" %}
{% block content %}
<div id="post">
  <!--  <div id="paginate-desc">content.paginate.desc:<b>{content.paginate.key</b></div>-->

  {% for article in articles_page.object_list %}
  <div class="post-summary-box">
    <div class="post-summary-content">
      <div class="post-title-box">
        <div class="post-title">
          <h3><a rel="bookmark" title="{{ article.title }}" href="{{ SITEURL }}/{{ article.url }}">{{ article.title
            }}</a></h3>
        </div>
        {% include '_post_meta.html' %}
        <div class="post-excerpt">{{ article.summary }}</div>
      </div>
      <a class="continue_reading_link" title="查看 <<{{ article.title }}>> 全文" href="{{ SITEURL }}/{{ article.url }}">
        Continue Reading
        →</a>
    </div>
  </div>
  {% endfor %}
</div>

{% if articles_page.has_other_pages() %} {% include '_pagination.html' %} {% endif %}
{% endblock content %}
